*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
/* Top Panel */
.f-container img{
    height: 60px;
    width: 150px;
    position: relative;
    left: 500px;
    bottom: -35px;
}
.a-text{
    position: relative;
    left: 660px;
    bottom: -3px;
}
.g-container img{
    height: 20px;
    width: 20px;
    position: relative;
    left: 1200px;
    bottom: 16px;
}
.b-text{
    position: relative;
    left: 1230px;
    bottom: 38px;
}
.h-container img{
    height: 20px;
    width: 20px;
    position: relative;
    left: 1325px;
    bottom: 56px;
    cursor: pointer;
}

/* Next Panel */
button{
    position: relative;
    border: none;
    background-color: #456ccb;
    color: white;
    width: 150px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 500px;
}
.btn2{
    position: relative;
    border: none;
    background-color: #3C79F5;
    color: white;
    width: 150px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 650px;
    top: -37px;
}
.btn3{
    position: relative;
    border: none;
    background-color: #3C79F5;
    color: white;
    width: 150px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 1220px;
    top: -74px;
}
/* Center Panel */
.btn4{
    position: relative;
    border: none;
    background-color: white;
    border-bottom: 4px solid #5881ec;
    color: black;
    width: 140px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 400px;
}
.btn5{
    position: relative;
    border: none;
    background-color: white;
    color: black;
    width: 140px;
    display: block;
    padding: 11px 0;
    font-weight: lighter;
    cursor: pointer;
    left: 540px;
    top: -37px;
}
.btn6{
    position: relative;
    border: none;
    background-color: white;
    color: black;
    width: 140px;
    display: block;
    padding: 11px 0;
    font-weight: lighter;
    cursor: pointer;
    left: 660px;
    top: -74px;
}
.c-text{
    position: relative;
    bottom: -38px;
    color: gray;
    left: 430px;
    font-size: 18px;
    font-weight: lighter;
}
.d-text{
    position: relative;
    left: 1230px;
    bottom: -20px;
    color: gray;
    left: 430px;
    font-size: 18px;
    font-weight: lighter;
}
.e-text{
    position: relative;
    left: 1230px;
    bottom: -20px;
    color: gray;
    left: 430px;
    font-size: 18px;
    font-weight: lighter;
}

.line2 {
    position: relative;
    bottom: 0px;
    left:125px;
}

.line3 {
    position: relative;
    bottom: 0px;
    left:125px;
}
.f-text{    
    position: absolute;
    top: 150px;
    left: 1154px;
    margin-top: -17px;
    border: 2px solid #ededed;
    border-radius: 50%;
    background: #fff;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #666;
    text-align: center;
    z-index: 1
}
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul li div {
    width: 47%;
    float: left;
    padding: 0px;
    left: 50px;
  }
  ul li .first {
    border-right: 1px solid grey;
    position: relative;
    height: 400px;
    bottom: 150px; 
  }
  .i-container{
    position: relative;
    left: -310px;
  }
  .j-container{
    position: relative;
    left: -98px;
    bottom: 42px;
  }
  .k-text{
    position: relative;
    left: 150px;
    bottom: 204px;
    color: gray;
    font-size: 17px;
    font-weight: lighter;
}
.l-container{
    position: relative;
    bottom: 180px;
    left: 108px;
    cursor: pointer;
}
.m-container{
    position: relative;
    bottom: 212px;
    left: 168px;
    cursor: pointer;
}
.n-container{
    position: relative;
    bottom: 246px;
    left: 228px;
    cursor: pointer;
}
.o-container{
    position: relative;
    bottom: 282px;
    left: 288px;
    cursor: pointer;
}
.p-container{
    position: relative;
    bottom: 319px;
    left: 348px;
    cursor: pointer;
}
.m-text{
    position: relative;
    left: -300px;
    bottom: 220px;
    font-size: 17px;
    font-weight: lighter;
    color: gray;
}
.line4{
    position: relative;
    color: gray;
    left: -310px;
    bottom: 255px;
}
.btn7{
    display: block;
    margin: 18px auto 0;
    background: #5881ec;
    width: 315px;
    height: 54px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    left:-620px;
    bottom: 260px;
}