*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
/* Top Panel */
.f-container img{
    height: 60px;
    width: 150px;
    position: relative;
    left: 500px;
    bottom: -35px;
}
.a-text{
    position: relative;
    left: 660px;
    bottom: -3px;
}
.g-container img{
    height: 20px;
    width: 20px;
    position: relative;
    left: 1200px;
    bottom: 16px;
}
.b-text{
    position: relative;
    left: 1230px;
    bottom: 38px;
}
.h-container img{
    height: 20px;
    width: 20px;
    position: relative;
    left: 1325px;
    bottom: 56px;
}

/* Next Panel */
button{
    position: relative;
    border: none;
    background-color: blue;
    color: white;
    width: 150px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 500px;
}
.btn2{
    position: relative;
    border: none;
    background-color: #3C79F5;
    color: white;
    width: 150px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 650px;
    top: -37px;
}
.btn3{
    position: relative;
    border: none;
    background-color: #3C79F5;
    color: white;
    width: 150px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 1220px;
    top: -74px;
}
/* Center Panel */
.btn4{
    position: relative;
    border: none;
    background-color: white;
    color: black;
    width: 140px;
    display: block;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    left: 400px;
}
.btn5{
    position: relative;
    border: none;
    background-color: white;
    color: black;
    width: 140px;
    display: block;
    padding: 11px 0;
    font-weight: lighter;
    cursor: pointer;
    left: 540px;
    top: -37px;
}
.btn6{
    position: relative;
    border: none;
    background-color: white;
    color: black;
    width: 140px;
    display: block;
    padding: 11px 0;
    font-weight: lighter;
    cursor: pointer;
    left: 660px;
    top: -74px;
}
.c-text{
    position: relative;
    left: 1230px;
    bottom: -38px;
    color: gray;
    left: 430px;
    font-size: 18px;
    font-weight: lighter;
}
.d-text{
    position: relative;
    left: 1230px;
    bottom: -20px;
    color: gray;
    left: 430px;
    font-size: 18px;
    font-weight: lighter;
}
.e-text{
    position: relative;
    left: 1230px;
    bottom: -20px;
    color: gray;
    left: 430px;
    font-size: 18px;
    font-weight: lighter;
}

.line2 {
    position: relative;
    bottom: 0px;
    left:125px;
}

.line3 {
    position: relative;
    bottom: 0px;
    left:125px;
}

/* practice */
.f-text{
    position: absolute;
    padding: 1;
    bottom:  116px;
    left: 844px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul li div {
    width: 47%;
    float: left;
    padding: 16px;
    text-align: center;
  }
  ul li .first {
    border-right: 1px solid grey;
    position: relative;
    height: 400px;
    bottom: 150px;
  }
  ul li .first::after {
      content: '';
      position: absolute;
      bottom: 150px;
      right: -16px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid grey;
      background: inherit;
  }